<ion-view view-title="{{ 'LANDING.VIEW_TITLE' | translate }}">
  <ion-content class="padding">
    <button class="button button-block button-positive" ui-sref="login">
      {{ 'LANDING.LOGIN' | translate }}
    </button>
    <button class="button button-block button-positive" ui-sref="register">
      {{ 'LANDING.REGISTER' | translate }}
    </button>
    <button class="button button-block button-positive" type="submit" ion-track-tap="Login-tap" ion-track-data="{ mockData: 'User tapped Login'}">Analytics</button>
    <button class="button button-block button-positive">Test Button</button>
  </ion-content>
</ion-view>
